@import 'vars';
@import 'mixin';
@import 'base';
@import 'grid';
.article{
  display: block;
  height: 270px;
  text-decoration: none;
  position: relative;
  margin-bottom: $opfsets;
  text-transform: uppercase;
  &__img{
    position: relative;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
      max-width: 100%;
      max-height: 100%;
      transition: .5s all ease;
      transform: scale(1);
      filter: grayscale(100%);
    }
    &:hover{
      img{
        transform: scale(1.2);
        filter: grayscale(0);
      }
    }
  }
  &__title{
    height: 56px;
    background: $orange; 
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
}
.article-m-orange{
  .article__title{
    background: $midle-orange;
  }
}
.article-l-orange{
  .article__title{
    background: $light-orange;
  }
}
.article-gray{
  .article__img{
    height: 270px;
    background: #e2e2e2;
    img{
      filter: grayscale(0);
    }
}
  .article__title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gray;
  }
}
.header{
  background-image: url(../img/header-bg.png);
  min-height: 165px;
  margin-bottom: $opfsets;
  &__logo{
    display: inline-block;
    a{
      display: block;
    }
  }
  &__title{
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 25px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__contacts{
    float: right;
    margin-top: 55px;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      span{
        font-size: 30px;
      }
    }
  }
}
ul.header__menu{
  list-style: none;
  li{
    background: #e5e5e5;
    border-left: 1px solid #c6c6c6;
    float: left;
    a{
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #434343;
      font-size: 18px;
      padding: 25px 20px;
    }
  }
}
.section{
   display: block;
   padding: 20px;
   color: #f4f3f3;
   font-size: 18px;
   text-transform: uppercase;
   background: $dark-red;
  }
  .padding-r-15{
    padding-right: $opfsets/2;
  }
.sidebarmenu{
  list-style: none;
  text-transform: uppercase;
    &__opener{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 50px;
    &.active{
      &:before{
        transform: rotate(225deg);
      }
    }
    &:before{
      content:'';
      position: absolute;
      width: 10px;
      height: 10px;
      box-shadow: inset 1px 1px 0 0 #8c8c8c;
      transform: rotate(45deg);
      right: 24px;
      top: 24px;
      transition: .5s all ease;
    }
  }
    .bg-gray{
      background: #f4f3f3;
    }
  li{
    position: relative;
    background: #f8f8f8;
    ul{
      display: block;
      overflow: hidden;
      max-height: 0;
      transition: 1s all ease;
      &.active{
        max-height: 50px;
      }
    }
  }
  &>li{
    &>a{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: #8c8c8c;
        font-size: 14px;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          width: 0;
          transition: .5s ease all;
          top:0;
          bottom:0;
          left: 0;
          background: rgba(0,0,0,0.1);
        }
      &:hover:before{
        width: 100%;
      } 
    }
  }
}
.news{
  list-style: none;
  &__date{
    display: block;
      color: $dark-red;
      font-size: 18px;
      margin-bottom: 5px;
      span{
        color: #8c8c8c;
      }
    }
    &__text{
      color: #434343;
      font-size: 14px;
    }
  li{
    border-bottom: 1px solid $dark-red;
    padding: 25px 0;
    a{
      text-decoration: none;
      i{
        color: inherit;
      }
    }
  }
}
.catalog-item-holder{
  margin-top: $opfsets;
}

