doctype
html
  include chunks/variables 
  head
    include chunks/head
  body
    .wrapper
      .row
        .clearfix
           include chunks/content
    -for(var i=0; i<50;i++)
      p jsd        
  include chunks/script

