.clearfix
  .col-desktop-1-4
    .row
      include sidebarmenu
      include news
  .content.col-desktop-3-4
    .row.clearfix
      include slider1
      each item,index in articleTitle
        .col-tablet-1-2.col-desktop-1-3
          a(href="#").article(class=index % 3 - 2 == 0 ? 'article-l-orange' : index % 3 - 1 == 0 ? 'article-m-orange' : '')
            include article
    .section каталог
.catalog-item-holder
  each item,index in catalogTitle
    .col-tablet-1-3.col-desktop-1-4
      a(href="#").article.article-gray
        include article
