meta(charset="utf-8")
link(href="css/main.css", rel="stylesheet")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
meta(name="viewport" content="width=device-width")
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
link(href="http://kenwheeler.github.io/slick/slick/slick-theme.css", rel="stylesheet")

//- link(href="icons/stylesheet.css", rel="stylesheet")