- 
  var articleTitle = [
  'ЦИФРОВАЯ ПЕЧАТЬ',
  'ОФСЕТНАЯ ПЕЧАТЬ',
  'ФИНИШНАЯ ОБРАБОТКА',
  'ДИЗАЙН, ВЕРСТКА,  КОРРЕКТУРА, ПЕРЕВОД',
  'КАТАЛОГ ВЫСТАВКИ',
  'ПЕРЕМЕННЫЕ ДАННЫЕ,  ШТРИХ-КОДИРОВАНИЕ'
  ]
  var catalogTitle = [
  'листовая продукция',
  'Фотоальбомы',
  'Буклеты',
  'Брошюры',
  'Визитки',
  'Календари',
  'Конверты',
  'Папки',
  'Наклейки, этикетки',
  'Самокопиры'
  ]
  var headerMenu = [
  'Главная',
  'каталог',
  'Услуги',
  'Производство',
  'Новости',
  'Поддержка',
  'Технологии',
  'Контакты'
  ]
