- 
  var articleTitle = [
  'ЦИФРОВАЯ ПЕЧАТЬ',
  'ОФСЕТНАЯ ПЕЧАТЬ',
  'ФИНИШНАЯ ОБРАБОТКА',
  'ДИЗАЙН, ВЕРСТКА,  КОРРЕКТУРА, ПЕРЕВОД',
  'КАТАЛОГ ВЫСТАВКИ',
  'ПЕРЕМЕННЫЕ ДАННЫЕ,  ШТРИХ-КОДИРОВАНИЕ'
  ]
  var catalogTitle = [
  'листовая продукция',
  'Фотоальбомы',
  'Буклеты',
  'Брошюры',
  'Визитки',
  'Календари',
  'Конверты',
  'Папки',
  'Наклейки, этикетки',
  'Самокопиры'
  ]
  var headerMenu = [
  'Главная',
  'каталог',
  'Услуги',
  'Производство',
  'Новости',
  'Поддержка',
  'Технологии',
  'Контакты'
  ]
  var sideMenu =[
  'ЦИФРОВОЕ',
  'ОФСЕТНОЕ',
  'ШЕЛКОГРАФИЯ',
  'ПЕРЕМЕННЫЕ ДАННЫЕ, ШТРИХ-КОДИРОВАНИЕ',
  'ОТДЕЛОЧНОЕ'  
  ]
  var news = [
    {
      newsDate: '18.05.',
      newsYear: '2018',
      newsText: 'Начал работу новый формный участок на основе CTP AGFA Palladio II, производительностью 150 форм в смену'
    },
    {
      newsDate: '18.05.',
      newsYear: '2018',
      newsText: 'Начал работу новый формный участок на основе CTP AGFA Palladio II, производительностью 150 форм в смену. Начал работу новый формный участок на основе CTP AGFA Palladio II, производительностью 150 форм в смену'
    },
    {
      newsDate: '18.05.',
      newsYear: '2018',
      newsText: 'Начал работу новый формный участок на основе CTP AGFA Palladio II, производительностью 150 форм в смену'
    }
  ]
